@import "tailwindcss";

@theme inline {
  --font-handwritten: var(--font-windsol);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-eb-garamond);
}

.text-outline {
  text-shadow: 2px 2px 0 #28372E, 2px -2px 0 #28372E, -2px 2px 0 #28372E, -2px -2px 0 #28372E, 2px 0px 0 #28372E, 0px 2px 0 #28372E, -2px 0px 0 #28372E, 0px -2px 0 #28372E;
}